{% extends "allura_website/base.html" %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'allura_website/css/services.css' %}">
    <link rel="stylesheet" href="{% static 'allura_website/css/services_pages.css' %}">
    <link rel="stylesheet" href="{% static 'allura_website/css/post.css' %}">
    <link rel="stylesheet" href="{% static 'allura_website/css/slick.css' %}">
   <link rel="stylesheet" href="{% static 'allura_website/css/slick-theme.css' %}">
{% endblock styles %}
{% block content %}

<!-- Header -->

   <section class="blog_title">
        <div class="row text-center">
          <div class="col-lg-6 offset-lg-3">
            <!-- change to services_header -->
            <div class="services_header">
              <h1>{{ title }} </h1>
            </div>
          </div>
        </div>
    </section>

<!-- End Header -->





<!-- Content Area -->
   <section class="content_area single_post">
      <div class="container">
         <div class="row">
            <div class="col-lg-8 posts-list">
               <div class="content_single_post">
                  <div class="feature-img">
                    {% block img %}{% endblock img %}
                  </div>
                  {% block post %}{% endblock post %}
               </div>
            </div>
            <div class="col-lg-4">
               <div class="right_sidebar">
                  <aside class="right_sidebar_widget post_category_widget">
                     <h4 class="sidebar_title">Care Services</h4>
                     <p class="underline"></p>
                     <ul class="list cat-list">
                        <li class="{% if title == 'Personal Care' %}active{% endif %}">
                           <a href="{% url 'allura-services-personalCare' %}" class="d-flex">
                              <p>Personal Care</p>
                           </a>
                        </li>
                        <li class="{% if title == 'Medication' %}active{% endif %}">
                           <a href="{% url 'allura-services-medication' %}" class="d-flex">
                              <p>Medication Support</p>
                           </a>
                        </li>
                        <li class="{% if title == 'Respite' %}active{% endif %}">
                           <a href="{% url 'allura-services-respite' %}" class="d-flex">
                              <p>Respite Care</p>
                           </a>
                        </li>
                        <li class="{% if title == 'Meal' %}active{% endif %}">
                           <a href="{% url 'allura-services-meal' %}" class="d-flex">
                              <p>Meal Preparation</p>
                           </a>
                        </li>
                        <li class="{% if title == 'Reablement' %}active{% endif %}">
                           <a href="{% url 'allura-services-reablement' %}" class="d-flex">
                              <p>Reablement Care</p>
                           </a>
                        </li>
                        <li class="{% if title == 'Shopping' %}active{% endif %}">
                           <a href="{% url 'allura-services-shopping' %}" class="d-flex">
                              <p>Shopping</p>
                           </a>
                        </li>
                        <li class="{% if title == 'Domestic' %}active{% endif %}">
                           <a href="{% url 'allura-services-domestic' %}" class="d-flex">
                              <p>Domestic Support</p>
                           </a>
                        </li>
                        <li class="{% if title == 'Overnight' %}active{% endif %}">
                           <a href="{% url 'allura-services-overnight' %}" class="d-flex">
                              <p>Overnight Care</p>
                           </a>
                        </li>
                     </ul>
                  </aside>







               </div>
            </div>
         </div>
      </div>
   </section>

<!-- End Content Area -->

{% endblock content %}

{% block js %}
   <script src="{% static 'allura_website/js/script.js' %}"></script>
    <!-- Slick -->
    <script src="{% static 'allura_website/js/slick.min.js' %}"></script>
{% endblock js %}




