{% extends "allura_website/service/services_pages/base_services.html" %}
{% load static %}
{% block img %}
    <img class="img-fluid" src="{% static 'allura_website/img/services/domestic.jpg' %}" alt="">
{% endblock img %}
{% block post %}

    <div class="blog_details">

        <p class="excert">
            At Allura Care, we recognise that your home is your special place and keeping it as
            clean and tidy as you want can become difficult over time. Regular domestic care can
            be just the solution.
        </p>

        <p class="excert">
            Whether you're recovering from an accident, struggling with mobility or feeling
            overwhelmed by all the chores, our care workers can help with everyday tasks
            while you continue to enjoy living in your own home.
       </p>

       <p>
           <h1>Your care worker will be able to undertake domestic tasks such as:</h1>

           <ul>
               <li>
                    Laundry and ironing.
               </li>
               <li>
                    General house cleaning - dusting and hoovering.
               </li>
               <li>
                    Changing bed linen.
               </li>
               <li>
                    Washing up.
               </li>
               <li>
                    Hygienic cleaning of kitchens and bathrooms.
               </li>

           </ul>
       </p>

       <p class="excert">
            Whatever domestic support you require, our care workers will always provide support with
            consideration and respect every time. We know everyone has their own way of doing things
            at home. That's why we will work with you to create a support plan that suits your needs,
            preferences and living arrangements. You will always have complete control.
       </p>




    </div>







{% endblock post %}
