{% extends "allura_website/service/services_pages/base_services.html" %}
{% load static %}
{% block img %}
    <img class="img-fluid" src="{% static 'allura_website/img/services/meal.jpeg' %}" alt="">
{% endblock img %}
{% block post %}

    <div class="blog_details">

        <p class="excert">
            We recognise the importance of meeting your nutrition and hydration
            needs and is the reason why maintaining regular healthy meals is a central focus
            when we put together your personal care package. Supporting you with preparing
            nutritious meals while encouraging participation for independence is an essential part of
            our care. Your choices, preferences, and tastes will remain at the heart of our support with
            your meals, ensuring you remain in control.



       </p>

       <p>
           <h1>Our nutrition and meal management service include:</h1>

           <ul>
               <li>
                    Heating meals and testing that the temperature is not too hot or too cold.
               </li>
               <li>
                    Preparing meals as required by the physical or cognitive situation.
               </li>
               <li>
                    Cutting food into as small pieces as required or offer pureed food if there's difficulty
                    with chewing and swallowing.
               </li>
               <li>
                    Everyday encouragement to supporting with feeding.
               </li>
               <li>
                    Providing nourishing snacks and drinks between meals.
               </li>
               <li>
                    Going through the refrigerator and pantry to dispose of all spoiled and outdated items.
               </li>

           </ul>
       </p>

       <!-- to do -->

       <p>
           Our care workers are trained to understand the importance of food hygiene, nutrition and hydration and will adhere
           to dietary instructions from medical professionals who may be involved with your nutrition. You might be
           on a diet, such as low sodium, or you may have multiple intolerances, or prefer vegetarian or
           vegan meals, we make it our business to keep you happy and healthy. Our care workers' priority is to keep
           you safe, even if you wish to bake or help with the dishes, you are not alone. You can carry out these
           routine tasks with an extra set of hands and eyes around.

       <p>


       </p>


        










    </div>













{% endblock post %}
