{% extends "allura_website/service/services_pages/base_services.html" %}
{% load static %}
{% block img %}
    <img class="img-fluid" src="{% static 'allura_website/img/services/medication.jpg' %}" alt="">
{% endblock img %}
{% block post %}

    <div class="blog_details">


       <p class="excert">
         Taking several medications is a way of life for many people. Accurate medication administration
         ensures successful management of health conditions and symptoms. Your carer can play an integral role
         by assisting with avoiding common mistakes like taking the wrong medication, missing a medication time
         or day, or taking more medication than prescribed.
       </p>

       <p>
         During your care needs assessment, the level of support you require will be determined. For some,
         this may be a simple prompt or reminder; for others, they may require assistance such as administering
         medication from boxes, bottles or a monitored dosafe system prepared by a pharmacist. If the care worker is
         assisting you with medication, they will keep a record of this on a Medication Administration Record
         (MAR) chart.
       </p>

       <p>
         There are some medication that we do not administer such as those requiring administration by a specialist
         e.g. injections. You will be advised about this during your care assessment if you require such support.
       </p>

       <p>
           Many pharmacies will deliver medication to you door but if necessary, we are able to collect
           your medication for you once they are ready. We can also support with your prescription if required.


       </p>


    </div>

{% endblock post %}
