{% extends "allura_website/service/services_pages/base_services.html" %}
{% load static %}
{% block img %}
    <img class="img-fluid" src="{% static 'allura_website/img/services/live_in.jpeg' %}" alt="">
{% endblock img %}
{% block post %}

    <div class="blog_details">


        <p class="excert">
            Our overnight care service will relieve any worries you may have about living on your own,
            ensuring you feel safe and secure. We can accomodate all of your needs which can
            include help with personal care, toileting, support with medication, preparing drinks and
            assisting with your general comfort. We understand that your night care requirements may change
            as your condition improves or deteriorates. As a result, we offer a flexible night
            care service which can be arranged on a temporary or permanent basis and adapted at any time
            to suit your needs.

        </p>


        <h1>Waking Night Care</h1>

        <p>
            This option is recommended if you require frequent attention during the night as your
            carer stays up to watch, assist and be there for you. This is reassuring if you're especially
            frail or suffer from dementia and wake up at regular intervals during the night. The night care
            plan can be adjusted according to your evolving requirements, if you are recovering from an
            injury and need less support, or if you require more support due to a progressive medical
            condition.
        </p>



        <h1>Sleepover Care</h1>


        <p>
            This is where the night time carer sleeps at the property for a minimum of eight hours and will
            expect to get a reasonable night's sleep but is on hand if required. If the carer has to get
            up more than twice during the night, then it will be considered a waking night. This type of
            overnight care is suitable if you don't require regular support, but feel
            uncomfortable when left alone throughout the night. Anxieties that occur from being left
            alone throughout the night can soon be improved if you have a professional carer there to
            support you if needed.
        </p>









    </div>



{% endblock post %}
