{% extends "allura_website/service/services_pages/base_services.html" %}
{% load static %}
{% block img %}
    <img class="img-fluid" src="{% static 'allura_website/img/services/personal.jpg' %}" alt="">
{% endblock img %}
{% block post %}

    <div class="blog_details">


       <p class="excert">
         It can be daunting to accept help with your personal care needs for the first time.
         We are here to create a care plan tailored to your needs in the comfort of
         your own home to enable you to retain as much independence as possible.
       </p>

       <p>
         Our care workers are fully trained and will deliver all personal care with continuity,
         dignity, and respect. We can be there to complete all tasks for you or alternatively, we can
         just be in the house for support while you carry out the tasks. A full care plan will be drawn up
         prior to care starting and all preferences to personal care needs will be documented and
         adhered to.

       </p>

       <p>
          Personal care services include assistance with:
       </p>

       <h1>Bathing</h1>
       <p>
          Your carer is able to fully support you with your bathing/showering/strip wash requirements.
          They can assist you with getting in and out of the bath or shower safely, as well as
          washing and drying your hair and body, if required, in a way that ensures your dignity
          is respected.
       </p>

       <h1>Dressing</h1>
       <p>
          If you require assistance with getting dressed and undressed, you can rely on your carer to provide
          support to make things easier for you.
       </p>

       <h1>Transferring and Positioning</h1>
       <p>
          A key part of our staff training is moving and handling individuals. Your support plan
          will inform us on how to support you with your mobility and transfers in a way that
          is safe and maintains your natural posture. This not only promotes health and safety but
          maintains proper functioning of the body's anatomy, avoiding damage or discomfort.
       </p>

       <h1>Continence</h1>
       <p>
          We can schedule specific visits to assist with all toileting and incontinence needs.
          This offers peace of mind and ensures cases of incontinence are dealt with as soon as
          possible, avoiding any damage to the skin.
       </p>


    </div>

{% endblock post %}
