{% extends "allura_website/service/services_pages/base_services.html" %}
{% load static %}
{% block img %}
    <img class="img-fluid" src="{% static 'allura_website/img/services/reablement.jpg' %}" alt="">
{% endblock img %}
{% block post %}


    <div class="blog_details">

        <p class="excert">
            If you're worried about recovering at home by yourself or need an extra bit of support to help you get back on your feet,
            our friendly and patient care staff will help you regain your independence.

       </p>

       <h1>What is reablement care?</h1>

       <p class="excert">
            A reablement program is a cost-effective solution for people who need intensive support
            for a short period of time. It is usually put in place by a local authority or other health
            organisations to assist individuals who may have experienced a period of illness,
            temporary disability, or recovering from a surgery. Our carers will often work under
            the direction of an Occupational Therapist (OT) as they encourage and assist you, often
            with aid equipment prescribed by the OT.
       </p>

       <p>
           Our carers are fully trained to look after your physical and emotional wellbeing and
           will work to the same high standards as they do with long term care packages. Our care staff
           can help you develop confidence for safe transfers including getting up from a chair, in and
           out of bed and on and off the toilet. We will help you aquire safety awareness tips to prevent
           falls or accidents and assist with reducing risks around the home so you can live safely and
           independently. Through our reablement care service, we ultimately aim to bring you back to a
           comfortable pace of life and empower you to perform your daily tasks.
       </p>















    </div>
























{% endblock post %}
