{% extends "allura_website/service/services_pages/base_services.html" %}
{% load static %}
{% block img %}
    <img class="img-fluid" src="{% static 'allura_website/img/services/respite.jpg' %}" alt="">
{% endblock img %}
{% block post %}


    <div class="blog_details">


       <p class="excert">
         Although worth the commitment, taking care of an aging or disabled loved one is challenging,
         even in the best of circumstances. You won't be able to provide a high standard of care if you
         don't look after yourself. Through our respite care service, we are able to
         provide temporary relief for caregivers by lifting the stress and burden away.
       </p>

       <p class="excert">
         Respite care is designed for the benefit of caregivers and depending on your unique needs, respite care
         can be provided for just a couple of hours a day or can extend to a few days a week. Whether you need time
         to run errands or take a much-deserved break, our experienced carers will make sure your loved one remains safe,
         secure, and comfortable at home.
       </p>

        <h1>Signs respite care is nedeed</h1>

        <p>
            It is important to recognise the signs which may indicate that a caregiver needs respite care.
            Realise that everyone needs a break once in a while, caregivers can be so focused on their loved
            one's needs that they often forget to take time for themselves. Common signs that may indicate the
            need for respite care include:
        </p>

        <p>
            <b>Mistakes:</b> Do you find yourself making small mistakes over and over?
            While nobody's perfect, making too many mistakes in a short period of time could
            mean that you're overly stressed.
        </p>

        <p>
            <b>Depression:</b> As your loved one's health continues to decline, you may feel
            grief and a loss of motivation. Taking a respite is essential in this type of situation.
        </p>

        <p>
            <b>Illness:</b> If you are suffering from a chronic medical condition or even a short-term
            illness, respite care may provide the relief you need until you can recover.
        </p>

        <p>
            <b>Personal Time:</b> Respite care is available so you can have some much needed "me" time.
        </p>

        <p>
            <b>Loneliness:</b> If you spend most of your time caring for others, you leave little time
            for socialisation. Respite care ensures that you have the time you neeed for healthy socialisation.
        </p>

        <p>
            <b>Irritability:</b> If you find yourself snapping at your loved one more and more, it may be a red
            flag that respite care is needed. A small break can make a big difference in your outlook.
        </p>




    </div>












{% endblock post %}
