{% extends "allura_website/service/services_pages/base_services.html" %}
{% load static %}
{% block img %}
    <img class="img-fluid" src="{% static 'allura_website/img/services/shopping.jpg' %}" alt="">
{% endblock img %}
{% block post %}


    <div class="blog_details">


        <p class="excert">
            We know that everyone can't get to the shops and not everyone is lucky
            to have someone to rely on that can do their food shopping for them.
            Whether you want someone to do your shopping for you or someone to take you shopping,
            our caregivers are here to help.

       </p>

       <p>
           We understand if you wish to remain as independent as possible and enjoy being able
           to make your own choices when shopping. We will accompany you to the shops
           or your favourite supermarket to buy food or groceries. Alternatively, if you're
           unable or prefer not to accompany your caregiver, they can shop on your behalf and purchase
           the required items. However, our care workers are unable to purchase any medical items or
           alcohol.
       </p>

       <p>
           Transactions will be monitored by a financial transaction form to ensure the safety
           of both parties and we guarantee that any member of staff visiting you will be fully DBS
           checked (Criminal Record Disclosure check).
       </p>











    </div>























{% endblock post %}
