/* Sidebar Categories*/


.right_sidebar_widget .button{
  background-color: #0099CC;
  border-color: black;
}


.right_sidebar_widget .btn_1 {
  margin-top: 0px;
  padding: 15px 24px;
  font-family: "Poppins", sans-serif;
}
  

.right_sidebar_widget .btn_1:hover {
  color: #fff !important;
  border: 1px solid #fff;
}


.right_sidebar_widget {
  box-shadow: 5px 3px 25px 0 rgb(0 0 0 / 10%);
}


.right_sidebar .sidebar_title {
  color: #fff;
  margin-bottom: 50px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  text-align: center;
}


.right_sidebar .sidebar_title::after {
  position: absolute;
  left: calc(50% - 64px);
  display: block;
  width: 130px;
  border-bottom: 3px solid white;
  content: "";
  margin-top: 10px;
}


.right_sidebar .right_sidebar_widget {
  padding: 40px;
  background: #182b3c;
  box-shadow: 0 15px 25px rgba(0,0,0,0.4);
  margin-bottom: 50px;
}


.right_sidebar .post_category_widget .cat-list li {
  position: relative;
  list-style: none;
  display: table;
  margin: 10px 0;
  padding-left: 34px;
  padding-right: 5px;
}

.right_sidebar .post_category_widget .cat-list li.active {
  position: relative;
  list-style: none;
  display: table;
  margin: 10px 0;
  padding-left: 34px;
  padding-right: 5px;
}

.right_sidebar .post_category_widget .cat-list li::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 34px;
  background: transparent;
  border-radius: 34px;
  transition: background 0.5s, width 0.5s;
  transition-delay: 0.5s, 0s;
  border: 2px solid #03a9f4;
  box-sizing: border-box;
}

.right_sidebar .post_category_widget .cat-list li:hover::before {
  width: 100%;
  background: #03a9f4;
  transition-delay: 0s, 0.5s;
}

.right_sidebar .post_category_widget .cat-list li::after {
  content: '';
  position: absolute;
  top: 13px;
  left: 12px;
  width: 6px;
  height: 6px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg);
  transition: 0.5s;
  transition-delay: 0s;
}

.right_sidebar .post_category_widget .cat-list li:hover::after {
  left: 24px;
  transition-delay: 0.5s;
  transform: rotate(45deg) scale(1.5);
}


/* Sidebar Advice */


.right_sidebar .post_category_widget .cat-list li a {
  font-size: 14px;
  line-height: 20px;
  color: #888888;
}


.right_sidebar .post_category_widget .cat-list li a p {
  position: relative;
  z-index: 10;
  padding: 5px 10px;
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-size: 16px;
}









/* Active Category*/
.right_sidebar .post_category_widget .cat-list li.active:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 34px;
  background: transparent;
  border-radius: 34px;
  transition: background 0.5s, width 0.5s;
  transition-delay: 0.5s, 0s;
  border: 2px solid #03a9f4;
  box-sizing: border-box;
}

.right_sidebar .post_category_widget .cat-list li.active::before {
  width: 100%;
  background: #03a9f4;
  transition-delay: 0s, 0.5s;
}

.right_sidebar .post_category_widget .cat-list li.active::after {
  content: '';
  position: absolute;
  top: 13px;
  left: 12px;
  width: 6px;
  height: 6px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg);
  transition: 0.5s;
  transition-delay: 0s;
}

.right_sidebar .post_category_widget .cat-list li.active::after {
  left: 24px;
  transition-delay: 0.5s;
  transform: rotate(45deg) scale(1.5);
}



.right_sidebar ul {
  position: relative;
  margin: 0;
  padding: 0;
}

.right_sidebar_widget .underline p:before,
.right_sidebar_widget .underline p:after {
  position: absolute;
  left: calc(50% - 35px);
  display: block;
  width: 70px;
  border-bottom: 3px solid white;
  content: "";
}




@media (max-width: 567px) {
  .single-post {
    padding: 0;
    margin: 45px 10px 0;
  }
}
