{% extends "allura_website/base.html" %}
{% load static %}
{% block styles %}
	<link rel="stylesheet" href="{% static 'allura_website/css/services.css' %}">
  <link rel="stylesheet" href="{% static 'allura_website/css/slick.css' %}">
  <link rel="stylesheet" href="{% static 'allura_website/css/slick-theme.css' %}">
{% endblock styles %}
{% block content %}


  <!--- Servives Title -->

    <section class="services_title">
      <div class="container">
        <div class="services-header">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 title_center">
              <h1>Our Services</h1>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">

              <p>
                There may be many reasons why you are looking at home care options. It may be because additional support
                or assistance is needed with those everyday tasks that are becoming a little more difficult, or because
                of restricted mobility through illness or accident. Our care and support workers can help in many ways,
                offering different levels of support as your needs change. They are trained to ensure that the appropriate
                safety precautions are taken to promote your health and well being.
              </p>


              <p>
                One of our experienced care managers will establish the best package of care for you once they have discussed
                and assessed your support needs. Whether it is help with washing and dressing or a full care package meeting your
                dietary requirements, we can help you. The care plan we develop with you will confirm the number and length
                of visits required on a daily or weekly basis and the type of support required.
              </p>
            </div>
          </div>

        </div>
      </div>
    </section>

  <!-- End Services Title -->
















  <!-- Assessment-->

  <div class="assessment fix">
    <!--Right Contents  -->
    <div class="assess-img"></div>
    <!-- left Contents -->
    <div class="assess-details">
      <div class="right-caption">
        <!-- Section Title -->
        <div class="assess-title">
          <h2>Assess your care & support needs</h2>
        </div>
        <div class="assess-more">
          <p class="assess-info">Discover the level of support most appropriate for you or your family
          member by completing our online care assessment tool.</p>

          <div class='wrap' role="button">
              <a href="{% url 'allura-assessment' %}" class="btn2">Assess My Needs</a>
              <a href="{% url 'allura-contact' %}" class="btn2">Enquire Here</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Assessment End-->









  <!-- Services   -->
  <section class="services section-padding40">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6 col-md-6 order-md-12 order-2">
                <div class="about-caption-left mb-50">
                    <!-- Section Title -->
                    <div class="section-title mb-25">
                      <h2>Personal Care</h2>
                    </div>
                    <p class="mb-20">
                      Our carers will support you with your individual preferences and ensure that your
                      independence is promoted </p>
                    <div class="buttons">
                      <a href="{% url 'allura-services-personalCare' %}" class="active">Learn More</a>
                    </div>

                </div>
            </div>
            <div class="col-xl-5 col-lg-6 col-md-6  order-md-12 order-1">
                <!-- about-img -->
                <div class="about-img">
                    <img src="{% static 'allura_website/img/services/personal.jpg' %}" alt="">
                </div>
            </div>
        </div>
    </div>
  </section>


  <section class="services pb-bottom">
      <div class="container">
          <div class="row align-items-center">
              <div class="col-xl-5 col-lg-6 col-md-6 order-md-12 order-1">
                  <!-- about-img -->
                  <div class="about-img2">
                      <img src="{% static 'allura_website/img/services/medication.jpg' %}" alt="">
                  </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 order-md-12 order-2">
                  <div class="about-caption-right mb-50">
                      <!-- Section Tittle -->
                      <div class="section-title mb-25">
                          <h2>Medication Support</h2>
                      </div>
                      <p class="mb-20">
                        Our care workers are trained and competent to assist with your medication by prompting or administering
                      </p>
                      <div class="buttons">
                        <a href="{% url 'allura-services-medication' %}"  class="active">Learn More</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>


  <section class="services section-padding40">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6 col-md-6 order-md-12 order-2">
                <div class="about-caption-left mb-50">
                    <!-- Section Tittle -->
                    <div class="section-title mb-25">
                        <h2>Respite Care</h2>
                    </div>
                    <p class="mb-20">
                      Whenever you need a break, we can be there to cover for you. Respite care can
                      be arranged as a one-off or on a more regular basis
                    </p>
                    <div class="buttons">
                      <a href="{% url 'allura-services-respite' %}" class="all-btn">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-lg-6 col-md-6 order-md-12 order-1">
                <!-- about-img -->
                <div class="about-img ">
                    <img src="{% static 'allura_website/img/services/respite.jpg' %}" alt="">
                </div>
            </div>
        </div>
    </div>
  </section>


  <section class="services pb-bottom">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-5 col-lg-6 col-md-6 order-md-12 order-1">
                <!-- about-img -->
                <div class="about-img2">
                    <img src="{% static 'allura_website/img/services/meal.jpg' %}" alt="">
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 order-md-12 order-2">
                <div class="about-caption-right mb-50">
                    <!-- Section Tittle -->
                    <div class="section-title mb-25">
                        <h2>Meal Preparation</h2>
                    </div>
                    <p class="mb-20">
                      If you need help with your meals, our carers can give you as little or
                      as much assistance as you need
                    </p>
                    <div class="buttons">
                      <a href="{% url 'allura-services-meal' %}" class="all-btn">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>


  <section class="services section-padding40">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-6 col-lg-6 col-md-6 order-md-12 order-2">
          <div class="about-caption-left mb-50">
            <!-- Section Tittle -->
            <div class="section-title mb-25">
              <h2>Reablement Care</h2>
            </div>
            <p class="mb-20">
              If you've been in hospital, been ill or had a fall, our reablement care service offers short term help to
              get your strength and confidence back at home.
            </p>
            <div class="buttons">
              <a href="{% url 'allura-services-reablement' %}" class="all-btn">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-xl-5 col-lg-6 col-md-6 order-md-12 order-1">
          <!-- about-img -->
          <div class="about-img">
            <img src="{% static 'allura_website/img/services/reablement.jpg' %}" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="services pb-bottom">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-5 col-lg-6 col-md-6 order-md-12 order-1">
          <!-- about-img -->
          <div class="about-img2">
            <img src="{% static 'allura_website/img/services/shopping.jpg' %}" alt="">
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 order-md-12 order-2">
          <div class="about-caption-right mb-50">
            <!-- Section Tittle -->
            <div class="section-title mb-25">
              <h2>Shopping</h2>
            </div>
            <p class="mb-20">
              Our carers are able to carry out shopping to local shops for required items. We are unable to
              purchase medical or alcoholic items.
            </p>
            <div class="buttons">
              <a href="{% url 'allura-services-shopping' %}" class="all-btn">Learn More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="services section-padding40">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-6 col-lg-6 col-md-6 order-md-12 order-2">
          <div class="about-caption-left mb-50">
            <!-- Section Tittle -->
            <div class="section-title mb-25">
              <h2>Domestic Support</h2>
            </div>
            <p class="mb-20">
              Our carers can support you with housekeeping tasks which includes cleaning, laundry and cooking tasks.
            </p>
            <div class="buttons">
              <a href="{% url 'allura-services-domestic' %}" class="all-btn">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-xl-5 col-lg-6 col-md-6 order-md-12 order-1">
          <!-- about-img -->
          <div class="about-img">
            <img src="{% static 'allura_website/img/services/domestic.jpg' %}" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="services pb-bottom">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-5 col-lg-6 col-md-6 order-md-12 order-1">
          <!-- about-img -->
          <div class="about-img2">
            <img src="{% static 'allura_website/img/services/live.jpg' %}" alt="">
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 order-md-12 order-2">
          <div class="about-caption-right mb-50">
            <!-- Section Tittle -->
            <div class="section-title mb-25">
              <h2>Overnight Care</h2>
            </div>
            <p class="mb-20">
              We have the capacity to provide overnight, waking or sleep in care and we can support you
              7 days a week.
            </p>
            <div class="buttons">
              <a href="{% url 'allura-services-overnight' %}"class="all-btn">Learn More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- End Services -->

  <!--- FAQ -->

    <section class="faq">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-6">
              <div class="faq-content">
                <h2>
                  Frequently asked questions
                </h2>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="faq-accordion" id="faqAccordion">
                <div class="faq-accordion-item">
                  <div class="faq-header">
                    <h5 class="mb-0">
                      <button
                        class="btn btn-link collapsed"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapseOne"
                        aria-expanded="false"
                      >
                        How much will my care cost?
                      </button>
                    </h5>
                  </div>

                  <div
                    id="collapseOne"
                    class="collapse show"
                    data-parent="#faqAccordion"
                  >
                    <div class="body">
                      <p>We provide care for people whether they are self-funding or receiving
                      funding from Brent council. Visits can be anything from a 30-minute call to
                      an overnight care package. There is no minimum number of visits you need to
                      have to receive services from us.</p>

                      <p>For a private care package, the costs can vary greatly and will be dependent
                      on how many visits and the level of support you require. After your free care needs
                      assessment, you will be provided with the exact figures. We can provide an approximate
                      cost over the telephone.</p>

                      <p>We generate invoices every four weeks. Each care visit during the invoicing period
                      will be itemised in the invoice and we can post or email the invoice to you or your representative,
                      depending on your preference. Invoices are payable within seven (7) days.</p>

                      <p>You may be eligible to receive funding to cover some or all of the cost
                      of care through Brent Council. A needs assessment would then be carried out by
                      a social worker from Brent Council in order to assess your current needs
                      and your financial situation.</p>

                      <p>More information on funding options and contact information for Brent Council
                      can be found by clicking here:
                      <a href="https://www.brent.gov.uk/adult-social-care/social-care-eligibility-and-assessments#overview<"
                      target="_blank">https://www.brent.gov.uk/adult-social-care/social-care-eligibility-and-assessments#overview</a>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="faq-accordion-item">
                  <div class="faq-header">
                    <h5 class="mb-0">
                      <button
                        class="btn btn-link collapsed"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapseTwo"
                        aria-expanded="false"
                      >
                        Do you charge for an assessment?
                      </button>
                    </h5>
                  </div>
                  <div id="collapseTwo" class="collapse" data-parent="#faqAccordion">
                    <div class="body">
                      <p>There is no charge for an assessment visit and no obligation for you
                      to use our services once an assessment has been carried out.</p>

                      <p>At an assessment visit we will complete a needs assessment, health and
                      safety risk assessment and, if needed, a moving and handling assessment
                      and medication risk assessment. The assessment visit will last at least
                      30 minutes, but please allow for an hour so that you have
                      plenty of time to ask us any questions.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="faq-accordion-item">
                  <div class="faq-header" id="headingThree">
                    <h5 class="mb-0">
                      <button
                        class="btn btn-link collapsed"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapseThree"
                      >
                        How long would it take to start the service?
                      </button>
                    </h5>
                  </div>
                  <div
                    id="collapseThree"
                    class="collapse"
                    data-parent="#faqAccordion"
                  >
                    <div class="body">
                      After your needs have been assessed, your care plan will be developed and we will try to
                      allocate you with a suitable care worker. We aim to set up your service as soon as possible
                      but we do not like to rush the process as we want to ensure that you will be happy with the
                      care worker. You or your representative will have to sign the care plan documents and consent
                      form(s).
                    </div>
                  </div>
                </div>
                <div class="faq-accordion-item">
                  <div class="faq-header" id="headingThree">
                    <h5 class="mb-0">
                      <button
                        class="btn btn-link collapsed"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapseFour"
                      >
                        How can I be reassured about my security?
                      </button>
                    </h5>
                  </div>
                  <div
                    id="collapseFour"
                    class="collapse"
                    data-parent="#faqAccordion"
                  >
                    <div class="body">
                      All our support workers have to undertake a Disclosure & Barring Service (DBS) check
                      (formerly known as Criminal Record Bureau (CRB) check) to indicate whether they are suitable
                      to work with vulnerable people. In addition, we request at least two references from previous
                      employers before deciding whether to offer them employment or not.
                    </div>
                  </div>
                </div>
                <div class="faq-accordion-item">
                  <div class="faq-header" id="headingThree">
                    <h5 class="mb-0">
                      <button
                        class="btn btn-link collapsed"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapseFive"
                      >
                        Will I always get the same care worker?
                      </button>
                    </h5>
                  </div>
                  <div
                    id="collapseFive"
                    class="collapse"
                    data-parent="#faqAccordion"
                  >
                    <div class="body">
                      We try our best to make this happen as it is important for continuity of care.
                      However, we introduce another care worker who will be able to step in if your regular
                      care worker is unable to assist you. This is usually done if your regular
                      care worker is ill or away on annual leave.
                    </div>
                  </div>
                </div>
                <div class="faq-accordion-item">
                  <div class="faq-header" id="headingThree">
                    <h5 class="mb-0">
                      <button
                        class="btn btn-link collapsed"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapseSix"
                      >
                        Can I increase or reduce my support at any time?
                      </button>
                    </h5>
                  </div>
                  <div
                    id="collapseSix"
                    class="collapse"
                    data-parent="#faqAccordion"
                  >
                    <div class="body">
                      If you would like to increase or reduce your support, feel free to speak to us about this as
                      soon as possible and we will update the care plan accordingly. If you wish to cancel support on
                      a particular date for whatever reason, we kindly request that you give us at least 24 hours notice.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>








    <!--- End FAQ--->






{% endblock content %}

{% block js %}
    <script src="{% static 'allura_website/js/script.js' %}"></script>
    <!-- Slick -->
    <script src="{% static 'allura_website/js/slick.min.js' %}"></script>
{% endblock js %}
