body {
  background-color: #F1F6F9;
  margin: 0 auto;
}
.navbar {
  padding: 10px 0;
  background: transparent;
  transition: all .3s ease;
  background: #fff;
}

.fixed-top {
  position: unset;
}
.wrapper {
    background-color: #fff;
    font-family: sans-serif;
    padding: 2rem 0;
    text-align: center;
    display: block;
    overflow: hidden;
    margin: auto;
    border-radius: 25px;
    box-shadow: 0px 20px 40px 0px rgb(50 65 141 / 12%);
    max-width: 1140px;
    width: 100%;
}

.leftbox {
  width: 45%;
  float: left;
}

.rightbox {
    width: 55%;
    float: right;
    border-left: 2px solid #4ea29b;
}

.results {
  padding-bottom: 200px;
}

.wrap2 {
  margin: 10px auto;
  max-width: 80rem;
  display: flex;
  justify-content: center;
  background: transparent;
  position: relative;
  border-radius: 20px;
}

.wrap2 a{
  display: block;
  padding: 15px 25px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  background: #089de3;
  border-radius: 10px;
  color: #fff;
  text-decoration: none;
  border: 1px solid transparent;
  transition: all .3s ease;
  transform: scale(1);
  justify-content: space-around;
  text-align: center;
}

.btn {
    font-size: 16px;
    font-family: Poppings, sans-serif;
    margin: 0 1rem;
    display: inline-block;
    background-color: #5D78FF;
    color: #fff;
    border-radius: 35px;
    cursor: pointer;
    outline: none;
    padding: .5rem 1.5rem;
    text-transform: uppercase;
    text-decoration: none;
    transition: all ease-in-out .3s;
}

.btn:hover{
    background: #425FEE;
    box-shadow: 0 8px 20px rgb(56 87 241 / 30%);
    transform: scale(1.03);
    text-decoration: none;
    color: #fff;
}


.btn:focus {
    border: 1px solid #fff;
    outline: none;
    box-shadow: none;
}
/* .border {
    width: 80%;
    height: 1px;
    background-color: #d3d3d3;
    margin: 0 auto;
}

.right{
    padding: 0 3%;
    padding-top: 3rem;
}

.left {
    padding: 0 3%;
    padding-bottom: 3rem;
}

.left::before {
    content: '';
    background: url(images/icon-left.svg) center center no-repeat;
    display: block;
    height: 7rem;
    margin: 0 auto;
}

.right::before{
    content: '';
    background: url(images/icon-right.svg) center center no-repeat;
    display: block;
    height: 7rem;
    margin: 0 auto;
}

.title {
    font-size: 2rem;
    margin: 1rem 0;
    font-weight: 700;
    letter-spacing: normal;
}

.desc {
    margin: 1.8rem 2rem;
}




 */



#title {
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  color: #0099CC;
  margin: 0 0 30px 0;
  padding: 0 0 10px 30px;
  text-align: center;
}

.care {
  margin-bottom: 1rem;
  font-family: "Poppins", sans-serif;
  text-align: justify;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  color: #282F49;
  padding: 0 0 10px 30px;
}

#desc {
  margin-bottom: 1rem;
  font-family: "Poppins", sans-serif;
  text-align: justify;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  color: #282F49;
  padding: 0 0 10px 30px;
}




@media (min-width: 768px) {


    #title2 {
        font-size: 25px;
        font-family: "Poppins", sans-serif;
        color: #0099CC;
    }
    
    .desc {
        margin: 1rem 0;
        padding: 0 30px;
        font-size: 16px;
        font-family: "Poppins", sans-serif;
        color: #282F49;
        line-height: 34px;
        text-justify: none;
        text-align: left;
        font-weight: 500;
    }
    .col {
        margin: 0 auto;
        max-width: 1260px;
    }
    .left{
        float: left;
        padding: 0 3%;
        padding-bottom: 2.5rem;
        width: 40%;
    }
    .right {
        border-left: .1rem solid #d3d3d3;
        float: left;
        padding: 0 3%;
        padding-bottom: 2.5rem;
        width: 60%;
    }
    .left {
        border-bottom: none;
    }
    .border {
        height: 0;
    }
}

@media (max-width: 768px) {

    .rightbox {
        width: 55%;
    }
}

/* .underline {
    border-bottom: 2px solid #4ea29b;
} */




h1 {
  display: inline-block;
  position: relative;
}
h1::after {
  content: '';
  position: absolute;
  left: 5%;
  display: inline-block;
  height: 1em;
  width: 90%;
  border-bottom: 2px solid #4ea29b;
  margin-top: 5px;
}



/* result */

#card {
  background-color: rgb(255, 255, 255);
  font-family: sans-serif;
  padding: 2rem 0px;
  text-align: center;
  display: block;
  overflow: hidden;
  margin: 200px auto;
  border-radius: 25px;
  box-shadow: rgb(50 65 141 / 12%) 0px 20px 40px 0px;
  max-width: 1140px;
  width: 100%;
}

#top-section {
  width: 100%;
  height: 45%;
  padding: 25px;
  margin-bottom: 65px;
}


#bottom-section {
  display: flex;
  width: 100%;
  height: 55%;
  color: white;
}

#bottom-left-section {
  display: inline-block;
  width: 33.33%;
  height: 45%;
  vertical-align: top;
  background-color: rgb(0, 153, 204);
  padding: 25px;
}

#bottom-right-section {
  display: inline-block;
  width: 33.33%;
  height: 45%;
  background-color: rgb(0, 153, 204);
  vertical-align: top;
  padding: 25px;
}

#top-section h2 {
  font-size: 25px;
  font-family: Poppins, sans-serif;
  color: rgb(0, 153, 204);
}

/* #top-section h2::after {
    content: "";
    position: absolute;
    left: 40%;
    display: inline-block;
    height: 1em;
    width: 20%;
    border-bottom: 2px solid rgb(78, 162, 155);
    margin-top: 5px;
} */

#top-section p {
  margin: 1rem 0px;
  padding: 0px 30px;
  font-size: 18px;
  font-family: Poppins, sans-serif;
  color: rgb(40, 47, 73);
  line-height: 34px;
  text-align: left;
  font-weight: 500;
}



#price {
  font-weight: 700;
  font-size: 1.4rem;
}

#bottom-left-section h4 {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  color: #fff;
  text-align: center;
}

#bottom-left-section p {
  font-size: 16px;
  margin-bottom: 40px;
}

#bottom-right-section h4 {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  color: #fff;
  text-align: center;
}

#bottom-right-section p {
  font-size: 16px;
  margin-bottom: 40px;
}

#price-frequency, #price {
  display: inline-block;
}

#price-frequency {
  position: relative;
  top: -3px;
  font-size: 0.8rem;
  opacity: 0.7;
  margin-left: 5px;
}

#price-container {
  margin-bottom: 10px;
}




#last-section {
  width: 100%;
  height: auto;
  padding: 50px;
}

.items {
  display: block;
  position: relative;
  padding: 0 30px 0 30px;
}




.button2 {
  height: 60px;
  position: relative;
  float: right;
  margin-left: 5%;
}

.quizLogo {
  height: 6.5rem;
  float: right;
  margin-top: -30px;
}



.wrap a {
  display: block;
  padding: 15px 50px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  background: #089de3;
  border-radius: 10px;
  color: #ffffff;
  text-decoration: none;
  border: 1px solid transparent;
  transition: all .3s ease;
  transform: scale(1);
  justify-content: space-around;
  text-align: center;
}

/* .wrap a:hover {
  background: #0578ca;
  box-shadow: 0 8px 20px rgb(0 181 251 / 32%);
  transform: scale(1.03);
}

.wrap a:focus {
  outline: none;
  box-shadow: none;
} */

.button:hover{
  background: #0578ca;
  box-shadow: 0 8px 20px rgb(0 181 251 / 32%);
  transform: scale(1.03);
  cursor: pointer;
}

.button2:hover{
  background: #0578ca;
  box-shadow: 0 8px 20px rgb(0 181 251 / 32%);
  transform: scale(1.03);
  cursor: pointer;
}

.button:focus{
  outline: none;
  box-shadow: none;
}

.button2:focus{
  outline: none;
  box-shadow: none;
}



.btn:focus {
  outline: none;
  box-shadow: none;
}


.wrap {
  margin: 10px auto;
  max-width: 80rem;
  display: flex;
  justify-content: center;
  background: transparent;
  position: relative;
  border-radius: 20px;
}



.button {
  background-color: #28a7dc;
  display: flex;
  height: 60px;
  background: "blue";
  border-radius: 15px;
  position: relative;
  box-shadow: 0 6px 30px -10px;
  transition: box-shadow 1299 ease;
}

.button-set {
  width: 200px;
  height: 60px;
  background: "blue";
  border-radius: 15px;
  position: relative;
  left: 0;
  overflow: hidden;
}

.button-feedback {
  width: 200px;
  height: 60px;
  background: "blue";
  border-radius: 15px;
  position: absolute;
  left: 0;
  top: 0;
}


.btn-shadow {
  animation: btnShadow 1000ms ease forwards;
}

@keyframes btnShadow {
  0%, 100% {
    box-shadow: 0 6px 30px -10px rgba(74,116,201,1);
    box-shadow: 0 7px 45px -20px rgba(85, 120, 201, -1)
  }
  50% {
    box-shadow: 0 6px 20px 15px rgba(74, 116, 201, .2);
    box-shadow: 0 6px 30px -10px rgba(74,116,201,.5);

  }
}

#bottom-section svg {
  width: 100%;
  fill: #fff;
}



canvas {
  margin: 0 auto;
}

#canvas-holder {
  position: relative;
  margin: 25% auto;
  width: 100%;
}



.result-header h2 {
  display: inline-block;
  margin-bottom: 50px;
  font-size: 35px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: #282F49;
}



/* contact stuff */

.results .info {
  border-radius: 10px;
  border-top: 3px solid #47b2e4;
  border-bottom: 3px solid #47b2e4;
  padding: 30px;
  background: #fff;
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.1);
}






/* mobile */

@media (max-width: 480px) {
  .navbar {
    padding: 15px 40px 10px 10px;
    box-shadow: 0px 10px 20px 0px rgb(50 65 141 / 10%);
  }
  .results .info {
    border-radius: 10px;
    border-top: 3px solid #47b2e4;
    border-bottom: 3px solid #47b2e4;
    padding: 30px;
    background: #fff;
    width: 100%;
    box-shadow: 0 0 24px 0 rgb(0 0 0 / 10%);
    margin-bottom: 50px;
  }
  #title {
    padding: 0 0 10px 0;
    text-align: initial;
  }
  .desc {
    padding: 0 0 10px 0;
  }
  .q-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.btn {
    width: 140px;
    border: 1px solid rgba(74,144,226,0.5);
    background-color: #5D78FF;
  }
}













@media (max-width: 768px) {
  .leftbox {
    float: none;
    margin: 0;
    width: 100%;
  }

  #canvas-holder {
    margin: auto;
  }
  .rightbox{
    float: none;
    margin-right: 0;
    width: auto;
    border: 0;
  }

  #title {
    padding: 0 0 10px 0;
    text-align: center;
  }
  #desc {
    padding: 0 0 10px 0;
  }
  .care {
    padding: 0 0 10px 0;
  }
  .q-box {
    display: flex;
    align-items: center;
  }

.btn {
    width: 140px;
    border: 1px solid rgba(74,144,226,0.5);
    background-color: #5D78FF;
  }

  .wrap {
    margin: 30px auto;
  }

  .wrap a {
    padding: 10px;
    font-size: 16px;
  }
}

@media (max-width: 992px) {
  #canvas-holder {
    margin: 0 auto;
    width: 80%;
  }
  .leftbox {
    width: initial;
    float: none;
  }
  .rightbox {
    width: initial;
    float: none;
    border: 0;
    margin-right: 0;
  }


}











