{% extends "allura_website/base.html" %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'allura_website/css/about.css' %}">
    <link rel="stylesheet" href="{% static 'allura_website/css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'allura_website/css/slick-theme.css' %}">
{% endblock styles %}
{% block content %}

<!--- About Title -->



    <section class="about_title">
      <div class="container">
        <div class="about__header">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 about-center">
              <h1 class="">About Us</h1>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
              <p>
                Allura care is a domicilliary care provider based in Park Royal in North West London. We provide care services for adults
                of all ages across the borough of Brent.

              </p>


              <p>
                Our service puts the individual at the centre of their care. We do this by:
              </p>


              <ul>
                <li>Maintaining a person's chosen lifestyle.</li>
                <li>Ensuring that personal dignity and privacy are respected.</li>
                <li>Treating the person as an individual with regard to their needs.</li>
                <li>Promoting personal independence and choice at all times.</li>
              </ul>

              <p>
                  We welcome referrals from, or on behalf of, people who require respite, intermediate or any other short-term care.
                  We also welcome referrals from, or on behalf of, people from ethnic, social, cultural or religious minority groups.
              </p>

              <p>
                  We will discuss a potential service user’s special needs and preferences at the time of our agreeing to provide a service, and will seek to meet requirements as closely as possible.
              </p>

              <p>
                Our staff  have been trained to tend to your care needs with an understanding that everyone requires a different service to fulfill their care wishes.

              </p>



            </div>
          </div>

        </div>
      </div>
    </section>

<!-- End About Title-->
















<!-- Our Carers Section -->
    <div class="carers">
        <div class="container">
            <div class="row text-center">
                <div class="col">
                    <h2 class="carers_title">Our Carers</h2>
                </div>
                <div class="narrow">
                    <p>

                        At Allura Care, we not only acknowledge the importance of safe recruitment but recognize the importance of retention.
                        To support this, we use a value-based recruitment tool as part of the recruitment selection process. Our carers are employed in accordance with the codes of conduct issued by Skills for Care.
                        We undertake various background checks including two references and the DBS service to help assess the suitability of applicants for positions of trust.

                    </p>

                    <p>
                        We wish to provide you with regular home carers where possible, you will receive a visit schedule on a weekly basis and inform you in advance of any changes to the carer and know the name of the replacement carer where possible.
                        Care workers are changed for legitimate reasons e.g. sickness, training, changes to service requirements. Our carers will treat you with care, politeness and respect.
                    </p>
                </div>
            </div>
        </div>
     </div>

<!-- End Our Carers Section -->




<!-- Training Section -->

    <div class="training">

        <div class="container">

            <div class="row text-center">
                 <div class="col">
                     <h2 class="title_training">Training</h2>
                 </div>
                 <div class="narrow">
                     <p>Induction training covers all of Allura Care's key policies and procedures that relate to service users' care,
                         welfare, protection and safety.
                     </p>
                     <p>
                         These include:
                     </p>
                     <div class="row">
                         <div class="col-md-6">
                             <ul>
                                 <li>Confidentiality</li>
                                 <li>Infection control</li>
                                 <li>Medications</li>
                                 <li>On call policy</li>
                                 <li>Hygiene and food safety (Food Safety Act 1990 and Regulations 2005)</li>
                             </ul>
                         </div>

                         <div class="col-md-6">
                             <ul>
                                 <li>Record keeping and access to files</li>
                                 <li>Health and safety</li>
                                 <li>Moving and handling service users</li>
                                 <li>Dealing with accidents and emergencies</li>
                                 <li>Avoidance of abuse</li>
                             </ul>
                         </div>
                     </div>
                 </div>
            </div>
        </div>
    </div>
<!-- End Training Section -->
{% endblock content %}

{% block js %}
    <script src="{% static 'allura_website/js/script.js' %}"></script>
    <!-- Slick -->
    <script src="{% static 'allura_website/js/slick.min.js' %}"></script>
{% endblock js %}


